<!doctype html>
<html>
	<head>
	    <title>shalish translator</title>
	    <link rel="stylesheet" href="../css/style.css"> 
	    <!-- ######### load fontawesome ######### -->
	    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css"> 
	    <!-- ######### load modal stylsheet ########### -->
	    <link rel="stylesheet" href="../libs/css-modal/build/modal.css"> 
	    <!-- ######### google fonts ######## -->
	    <link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="container">
		    <div class="row">
		     
		    </div>
		</div>
		<div class="container">
			<div class="seven columns"><textarea id="input" name="input" rows="4" cols="40" placeholder="Input English here."></textarea></div>
			<div class="two columns"><span id="arrow"><i class="fa fa-arrow-right"></i></span></div>
			<div class="two columns"><span id="arrow-down"><i class="fa fa-arrow-down"></i></span></div>
			<div class="seven columns"><textarea id="output" name="output" rows="4" cols="40" placeholder="SHAlish translation will appear here."></textarea></div>
		</div>

		<!-- ###### socket.io setup ####### -->
		<script src="https://cdn.socket.io/socket.io-1.3.2.js"></script>
		<script>
		var Translator = function () {
			var that = {};
			var socket = io();
			var input = document.getElementById("input");
			var output = document.getElementById("output");
			var arrow = document.getElementById("arrow");
			var arrowDown = document.getElementById("arrow-down");
			var tid;

			var init = function () {
				socket.on('tx', function (string) {
					//replace inner html of output textarea with string
					output.value = string;
				});
			}
			
			var translate = function () {
				window.clearTimeout(tid);
				//wait 1 second
				tid = window.setTimeout(function () {
					//emit 'change' socket event with current string in input
					var string = input.value;
					console.log(string);
					socket.emit('change', string);
				}, 1000);		
			};

			that.init = init;
			that.translate = translate;

			return that;
		};

		window.onload = function () {
			var translator = new Translator();
			translator.init();
			//listen to interaction events to trigger translation
			input.onkeyup = translator.translate;
			input.onchange = translator.translate;
			arrow.onclick = translator.translate;
			arrowDown.onclick = translator.translate;
		};
			
		</script>

	</body>
</html>